@import url(xosystpl.css);
@import url(forms.css);
@import url(blocks.css);
@import url(content.css);

html {
        padding: 0 10px;
}
body {
        margin: 0;
        background: url('../img/background.jpg') repeat-x top left #ffeecc;
        padding: 0px;
        color: #222;
        font-family: "Lucida Grande", Verdana, sans-serif;
        font-size: 10pt;
}

/* ======= Body wrapper ======= */
#xo-wrapper {
         width: 980px;
         padding: 0px 0px 0px 0px;
         margin:0px auto;
         background: transparent;
	 border: 0px solid #fff;
         z-index: 3;
}

#xo-bgstatic-top {
     z-index: 2;
     padding: 0;
     margin: 0;
     width: 100%;
}

#xo-bgstatic {
         z-index: 1;
         padding: 0;
         margin: 0;
         width: 100%;
}
#xo-canvas {
        margin: 0;
        background: #ffeecc;
        color: #000;
}
body.theme-dialog #xo-canvas {
        margin: 0 6px;
}
/*================= Content Zone ===================*/
#xo-canvas-content {
        background: #ffeecc;
        color: inherit;
	margin: 0px 0 0 0;
	padding: 0px;
}

#xo-page {
        background: #ffeecc;
	padding-top: 10px;
        max-width: 500px; /* add by kris */

}

#xo-canvas-rightcolumn {
    padding: .0em;
}

#xo-content {
        clear: both;
        margin: 0.7em;
        background: #ffeecc;
        border: 0px solid #d93444;
	padding: 0.5em 2.0em 0em 2.0em;
        color: #000;
	min-height: 400px;
}

#xo-content table td {
	background: #fff;
	vertical-align: top;
    	padding: 4px;
    	max-width: 450px;
}

/* ============== header ================= */
#xo-header {}

/* ---------- Banner ---------- */
#xo-banner {
        clear: both;
        /* Use relative pos to ensure the banner ad img/flash is relative to the header */
        position: relative;
        display: block;
        z-index: 100;
        width: 100%;
        height: 165px;
	margin: 0px 0 0 0;
        background: #d93444 url(../img/header-bg.jpg) no-repeat top center;
        color: #fff;
}

#xo-banner.commercial {
        height: 165px;
        background-image: url(../img/header-bg_big.jpg);
        background: transparent;
}
/*
#xo-banner-ad {
}  */

#xo-banner-ad object, #xo-banner-ad img {
    display: block;
}

/*---------------------- Site name in header ----------------------------*/
#xo-site-title {}
a#xo-site-title {}
a:hover#xo-site-title {}
#xo-site-title.commercial {}
#xo-site-title .commercial a:hover {}
/*----------------------- slogan in header ------------------------*/
#xo-site-slogan {}
#xo-site-slogan.commercial {}
/*------------------------ logo ----------------------------*/
#xo-main-logo {
         position: relative;
         top: 100px;
         background: transparent no-repeat top left;
         padding-left: 60px;
         color: #ffddbb;
	 width: 335px;
	 height: 40px;
}
#xo-main-logo.commercial {}
/*-------- Bannder-----------*/
#xo-banner form {}
#xo-banner input { width: 150px; }
/*============== Styles in userbar.html =================*/
#xo-userbar {
        position: absolute;
        bottom: 100px;
        right: 30px;
        text-align: right;
}
#xo-userbar form {
        display: inline;
        padding: 0;
}
#xo-userbar button {
        margin: 0;
        margin-bottom: -2px;
        background: transparent none;
        padding: 0;
        color: #666;
        border: 0 none transparent;
}
#xo-userbar button img {
        width: 22px;
        height: 22px;
}
#xo-userbar button:hover {
         border: 0 !important;
 }
#xo-userbar img {
        width: 26px;
        height: 26px;
}
#xo-userbar a {
        color: #ff6644;
        background-color: inherit;
        text-decoration: none;
}
#xo-userbar a:hover {
        color: #ffcc66;
        background-color: inherit;
}
#xo-uname {
        font-weight: bold;
        font-size: 1.1em;
}
/*============= Style in globalnav.html ================*/
#xo-globalnav {
        min-height: 35px;
        margin: 0px;
        background: #d93444;
        border-bottom: 0px solid #d93444;
	width: 100%;
	color: #fff;
        font-size: 1.1em;
        list-style-type: none;
	position: relative;
	display: block;
	padding: 0px;
}
#xo-globalnav .x2-label {
        display: none;
	
}

* html #xo-globalnav {
        height: 35px;
}

#xo-globalnav ul {
        list-style-type: none;
        width: 80%;
        position: absolute;
        top: 0.0em;
        display: inline;
	margin: 0;
	padding: 0 0 0 180px;
}

#xo-globalnav ul li{
	background: #d93444;
	position: relative;
	display: inline;
	float: left;
	margin: 0px;
	padding: 0px 0 0 0;
	z-index:auto !important ;
	z-index: 1000;
}

#xo-globalnav ul li a{
	color: #ffeecc;
	display: block;
	float:none !important ;
	float: left;
	font-weight: bold;
	line-height: 25px;
	margin: 0px;
	padding: 5px 0 0 0;
	text-decoration: none;
	text-align: center;
	width: 115px;
}

#xo-globalnav ul li a:hover{
	color: #333;
	background: transparent;
	font-style: normal;
	text-decoration: none;
	min-height: 25px;
}

#xo-globalnav ul li ul{
	display: none;
	border-top: none;
	border-right: none;
	border-left: none;
	width: 150px;
	margin: 0;
	padding: 0;
}

#xo-globalnav ul li:hover a{

}

#xo-globalnav ul li:hover ul, #xo-globalnav ul li.hover ul{
	display: block;
	position: absolute;
	z-index: 999;
	top: 1.6em;
	margin-top: 0em;
	left: 0;
}

* #xo-globalnav table{
	position: absolute;
	top: -1px;
	left: 0;
	border-collapse: collapse;
}

#xo-globalnav ul li a:hover ul{
	display: block;
	position: absolute;
	z-index: 999;
	top: 0.0em;
	left: 0;
	margin-top: 0.1em;
}

#xo-globalnav ul li ul li{
	background-color: #d93444;
	margin: 0;
	padding: 0;
}


#xo-globalnav ul li:hover ul li{
	display: block;
	width: 150px !important;
	border-right: 1px solid #d93444;
	border-left: 1px solid #d93444;
	top: .8em;
	margin: 0;
	padding: 0;
}

#xo-globalnav ul li a:hover ul li a{
	display: block;
	height: 1px;
	line-height: 25px;
	padding: 10px 10px 10px 10px;
	border: none;
	font-weight: normal;
}

#xo-globalnav ul li:hover ul li a{
	font-size: .9em;
	width: 140px !important;
	text-align:left !important;
	padding: 0 5px 0 5px;
	margin: 0;

}
#xo-globalnav ul li ul li a:hover{
	color: #333;
	background-color: #d93444;
	text-decoration: none;
	width: 140px !important;
	margin: 0;
	padding: 0 5px 0 5px;
}

#xo-globalnav li {
        display: inline;
	position: relative;
	float: left;
        margin: 0;
        padding-left: .5em;
        padding-right: .5em;
}

#xo-globalnav a {
        background-color: inherit;
        color: #ffeecc;
        text-decoration: none;
}

#xo-globalnav a:hover {
        background-color: inherit;
        color: #333;
        text-decoration: none;
}

/* ===== Footer ===== */
#xo-footer {
        background: #d93444;
	margin: 0 auto;
	padding: 20px 0 0 0;
        color: #fafafa;
        font-size: .9em;
        text-align: center;
	height: 25px;
	width: 100%;
}

body.theme-dialog #xo-footer {
        padding: .0em .5em;
        font-size: .8em;
}

#xo-footer a {
        background-color: transparent;
        color: #ffeecc;
}

#xo-footer a:hover {
        background-color: transparent;
        color: #333;
        text-decoration: underline;
}

/* ===== debug messages ===== */
#xo-logger-output {
    font-size: .8em;
}